@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TenorSans';
    src: url('../fonts/TenorSans.woff2') format('woff2'),
        url('../fonts/TenorSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-color: #007E62;
    --yellow-color: #FFDB63;
    --green-bright: #00FF9F;
    --default-color-text: #222222;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'BE-Regular';
    font-size: 15px;
    color: var(--default-color-text);
}
input{
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
    overflow-clip-margin: unset;
    overflow: clip;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
.mc-container{
    max-width: 1400px;
    margin: 0 auto;
}
