@media only screen and (max-width: 1700px) {
    .mc_images .list-images .item img{
        height: 540px;
    }
}
@media only screen and (max-width: 1500px) {
    .mc_slider_banner .slider-banner-top .banner-desktop{
        height: 550px;
    }
    .mc_images .list-images .item img{
        height: 400px;
    }
}
@media only screen and (max-width: 1400px) {
    .mc-container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .mc_menu_head_main ul {
        gap: 20px;
    }
    .header-contact a {
        padding: 10px 20px;
    }
    .mc_images .list-images .item img{
        height: 350px;
    }
    .mc_images{
        padding-bottom: 140px;
    }
    .mc-video .img-video img{
        height: 650px;
    }
    .mc-video video{
        height: 650px;
    }
}
@media only screen and (max-width: 1200px) {
    .mc-container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
    header {
        padding: 17px 10px;
    }
    .mc_slider_banner .slider-banner-top .banner-desktop{
        height: 440px;
    }
    .mc-service-home .contain .item-service{
        width: 300px;
    }
    .mc-service-home .contain .item-service .thumb img{
        height: 120px;
    }
    .mc-service-home .contain .item-service .name-service{
        padding: 0 10px;
        font-size: 16px;
    }
    .mc_images .list-images .item img{
        height: 270px;
    }
    .mc_images .list-images .item{
        margin: 0 30px;
    }
    .mc_customers .left-slider .item .right-cus-talk{
        flex: 0 0 78%;
        max-width: 78%;
    }
    .mc_customers .left-slider .item .avatar{
        flex: 0 0 22%;
        max-width: 22%;
    }
    .mc-video .img-video img{
        height: 600px;
    }
    .mc-video video{
        height: 600px;
    }
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 12px 0;
  }
  .mc_menu_head_main,
  .header-contact {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header-logo img{
    height: 54px;
  }
  .mc_slider_banner .slider-banner-top .banner-desktop{
    height: 380px;
  }
  .mc-service-home .contain .item-service-3{
    left: 0;
  }
  .mc-service-home .contain .item-service-4{
    right: 0;
  }
  .mc_intro .intro-contain .left{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mc_intro .intro-contain .right{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mc_intro .intro-contain .left .list-tc .item .icon{
    flex: 0 0 12%;
    max-width: 12%;
  }
  .mc_intro .intro-contain .left .list-tc .item .content-item{
        flex: 0 0 88%;
        max-width: 88%;
  }
  .mc_intro .number-tt .item .num{
        font-size: 40px;
  }
  .mc_images .list-images .item img{
    height: 368px;
  }
  .mc_customers .customer-cover .left{
    padding-right: 0;
  }
  .mc_customers .left-slider .item .avatar img{
        width: 70px;
        height: 70px;
  }
  .mc-video .img-video img{
    height: 515px;
  }
  .mc-video .img-video img{
    height: 455px;
  }
  .mc-video video{
        height: 455px;
    }
    .list-post-news .item .thumb img{
        height: 200px;
    }
}
@media only screen and (max-width: 876px) {
    .mc_slider_banner .slider-banner-top .banner-desktop{
        height: 300px;
    }
    .mc-service-home .contain .item-service{
        position: unset;
        left: unset;
        right: unset;
        top: unset;
        flex: 0 0 48%;
        max-width: 48%;
        width: 100%;
        margin-bottom: 30px;
    }
    .mc-service-home .title{
        font-size: 50px;
    }
    .mc-service-home .contain .kol{
        flex: 0 0 100%;
        max-width: 80%;
        width: 100%;
        margin-bottom: 20px;
    }
    .mc-service-home .contain{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mc_intro .intro-contain .left .list-tc .item .icon{
        flex: 0 0 14%;
        max-width: 14%;
    }
    .mc_intro .intro-contain .left .list-tc .item .content-item{
        flex: 0 0 86%;
        max-width: 86%;
    }
    .mc_intro .intro-contain{
        margin-bottom: 60px;
    }
    .mc_images .list-images .item img{
        height: 260px;
    }
    .mc_customers .customer-cover .left{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
     .mc_customers .customer-cover .right{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .mc_customers .title{
        margin-bottom: 80px;
    }
    .mc_customers .customer-cover .right{
        margin-bottom: 100px;
    }
    .mc_customers .left-slider .item .avatar img{
        width: 90px;
        height: 90px;
    }
    .mc_customers .left-slider .item .avatar{
        flex: 0 0 18%;
        max-width: 18%;
    }
    .mc_customers .left-slider .item .right-cus-talk{
        flex: 0 0 82%;
        max-width: 82%;
    }
}
@media only screen and (max-width: 768px) {
    .header-logo img {
        height: 33px;
    }
    .sub-header{
        display: none;
    }
    .mc_images .mc_images_contain .title{
        font-size: 40px;
    }
}
@media only screen and (max-width: 576px) {
    .mc-container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .mc_slider_banner .banner-mobile{
        display: block;
        height: 586px;
        object-fit: cover;
    }
    .mc_slider_banner .banner-desktop{
        display: none;
    }
    .mc-service-home{
        padding: 50px 0;
    }
    .mc-service-home .title{
        font-size: 30px;
    }
    .mc-service-home .sub-title{
        font-size: 15px;
    }
    .mc-service-home .contain .kol{
        max-width: 100%;
        width: 100%;
    }
    .mc-service-home .contain .item-service{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc_intro .intro-contain .left .sub-title{
        font-size: 16px;
    }
    .mc_intro .intro-contain .left .title{
        font-size: 30px;
    }
    .mc_intro .intro-contain .left .title{
        margin-bottom: 25px;
    }
    .mc_intro .intro-contain .left .list-tc .item .icon{
        flex: 0 0 20%;
        max-width: 20%;
    }
   .mc_intro .intro-contain .left .list-tc .item .content-item{
        flex: 0 0 80%;
        max-width: 80%;
    }
    .mc_intro .intro-contain .left .list-tc .item .icon img{
        width: 50px;
    }
    .mc_intro .intro-contain .left .content{
        margin-bottom: 35px;
    }
    .mc_intro .intro-contain{
        margin-bottom: 40px;
    }
    .mc_intro .number-tt .item{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
    }
    .mc_images .list-images .item{
        margin: 0 10px;
    }
    .mc_images .list-images .item img{
        height: 188px;
    }
    .mc_intro{
        padding-bottom: 50px;
    }
    .mc_images .mc_images_contain .sub-title{
        font-size: 16px;
    }
    .mc_images .mc_images_contain .title{
        font-size: 30px;
    }
    .mc_images .mc_images_contain .title{
        margin-bottom: 40px;
    }
    .mc_images{
        padding-bottom: 100px;
    }
    .mc_customers .sub-title{
        font-size: 16px;
    }
    .mc_customers .title{
        font-size: 30px; 
        margin-bottom: 50px;
    }
    .mc_customers .customer-cover .right img{
        max-width: 80%;
    }
    .mc_customers .left-slider .item .avatar{
        flex: 0 0 34%;
        max-width: 34%;
    }
    .mc_customers .left-slider .item .right-cus-talk{
        flex: 0 0 66%;
        max-width: 66%;
    }
    .mc-video .img-video img{
        height: 330px;
    }
    .mc_customers{
        padding-bottom: 85px;
    }
    .mc-video video{
       height: 330px;
    }
    .mc-form{
        padding: 50px 0;
    }
    .mc-form .sub-title{
        font-size: 16px;
    }
    .mc-form .title{
        font-size: 28px;
        margin-bottom: 50px;
    }
    .mc-form .form-contain .left{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 55px;
    }
    .mc-form .form-contain .right{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mc-form .form-contain .right .title-form{
        font-size: 25px;
    }
    .mc-form .form-contain .inp-st input{
        padding: 15px 20px;
    }
    .mc-form .button-form{
        margin-top: 45px;
    }
    .mc-form .button-form button{
        font-size: 20px;
    }
    .mc_news .sub-title{
        font-size: 16px;
    }
    .mc_news .title{
        font-size: 28px;
        margin-bottom: 50px;
    }
    .mc_news{
        padding-top: 30px;
    }
}
@media only screen and (max-width: 438px) {

}